*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
    justify-content: center;
    overflow: auto;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;

}
h6{
    font-size: 12px;
    font-weight: 700;

}
p{
    font-size: 16px;
    color:#465b52;
    margin:15px 0 20p 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}

button .normal{
    font-size: 12px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition:  0.2s;
}
button .white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition:  0.2s;
}
body{
   
width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0, .06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    overflow: hidden;

}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#hero{
    background-image: url(img/banner/parallax.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4{
    padding-bottom: 15px;

}
#hero h1{
    color: #088178;

}
#hero button{
    background-image: url(img/banner/2.jpg);
    background-color: transparent;
    color: #088178;
    border: 1px;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    
    box-shadow: 20px 20px 34px rgba(0,0,0, 0.03);
    border: 1px solid #cce7d0;
}
#feature .fe-box img{
    height: 160px;
    width: 100%;
}
#feature .fe-box:hover{
    box-shadow: 20px 20px 34px rgba(70,60,221,0.01);

}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;

}
#product1{
    text-align: center;

}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width:240px;
    min-height: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0, .06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .des span{
    color: #606063;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
   
}
#product1 .pro .des .sh{
    position: relative;
    left: 30%;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}
#banner h4{
    color: #fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ef3636;
}
#banner button:hover{
    background: #088178;
    color: #fff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background-image: url(img/banner/2.jpg);
    min-width: 480px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}
#sm-banner .banner-box2{
    background-image: url(img/back.jpg);
    
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background-color: #088178;


}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/blog/3.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

}
#banner3 .banner-box2{
    background-image: url(img/blog/5.jpg);
}
#banner3 .banner-box3{
    background-image: url(img/blog/6.jpg);
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position:20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display:flex ;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space:nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .logo{
    padding-bottom: 20px;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

}
footer .follow{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;

}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}

/* shop section */
#page-header{
    background-image: url(img/banner/2.jpg);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}
#page-header p{
    color: #fff;

}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;

}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
    
}
.small-img-group{
    display: flex;
    justify-content: space-between;
    
}
.small-img-col{
    flex-basis: 24%;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;

}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    padding: 5px 10px;
    display: block;
    margin-bottom: 10px;

}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
    outline: none;

}
#prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
   
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition:  0.2s;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}
/* blog section*/
#page-header.blog-header{
    background-image: url(img/banner/1.jpg);   
    background-size: cover;
}
#page-header.blog-header h2{
    color: #fff;
}
#blog{
    padding: 150px 150px 0 150px;

}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40PX;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover ::after{
    background-color: #088178;

}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;

}
/*about section*/
#page-header.about-header{
    background-image: url(img/cart/cart.jpg);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
   width: 200%;
    height: 40vh;
}
#about-head div{
    padding-left: 40px;
}



@media(max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -350px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0,0, 0.01);
        transition: 0.3s;
    }
    #navbar.active{
        right:0;
    }
    #navbar li{
        margin-bottom: 25px;
        top: 90px;
        
    }
    #mobile{
        display: flex;
        align-items:center; 
    }
    #mobile i{
        font-size: 30px;
        padding-left: 25px;
        color: #1a1a1a;
        padding-right: 20px;
    }
     #navbar #close{
        display: initial;
        top: 30px;
        padding-left: 20px;
        position: absolute;
        color: #222;
        font-size: 34px;
        size: 30px;
    }
    #hero{
        height: 70vh;
        padding: 0 88px;
        background-position: top 30% right 30%;
    }
    #feature{
        justify-content: center;
       
        
    }
    #feature .fe-box{
        margin: 15px 15px;

    }
    #product1 .pro-container{
        justify-content: center;
        
    }
    #product1 .pro{
        margin: 15px;
    }
    #banner{
        height:20vh ;
    }
    #sm-banner .banner-box {
        background-image: url(img/banner/2.jpg);
        min-width: 100%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 30px;
    }
    #banner3 {
        display: flex;
        justify-content: space-between;
       direction: column;
        padding: 0 40px;
    }
    #banner3 .banner-box2{

        min-width: 60%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }
    #banner3 .banner-box3{
        min-width: 100%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }
    #newsletter .form{
        width: 70%;
        padding-top: 20px;
    }
    #page-header.blog-header{
        background-image: url(img/banner/1.jpg);   
        background-size: cover;
        width: 100%;
        justify-content: center;
        
    }
    /*about section*/
    #about-head img{
        width: 300%;
        height: auto;
    }


}
@media(max-width:477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: center;
        gap: 20px;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
        width: 100%;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }
     
    /* single product*/
    #prodetails{
        display:block;

    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
    /*blog section*/

    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    #blog .blog-details{
        width: 100%;
    }
    #about-head.section-p1{
        display: flex;
        flex-direction: column;
    }
    #about-head img{
        width: 100%;
         height: 40vh;
         margin-bottom: 20px;
     }
     #about-head div{
        padding-left: 0;
    }
}












































